.NewUserForm {
  position: absolute;
  right: 0;
  top: 50px;
}

  .NewUserForm form {

  }
  .NewUserForm input {
    margin: 3px;
    border-radius: 5px;
  }
  .NewUserForm button {
    margin: 3px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .NewUserForm button:hover {
    background-color: #997500;
  }