.NewItemForm {
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: column;
  float: left;
  width: 20%;
}
  .NewItemFormLabel {
    /* border: 1px solid blue; */
    font-size: 11px;
    margin-left: 5px;
  }
  .NewItemForm form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin: 5px;
  }
  .NewItemForm input {
    display: flex;
    flex-direction: row;
    /* border: 1px solid cyan; */
    margin: 5px;
    padding: 2px;
  }
  .NewItemForm textarea {
    display: flex;
    /* border: 1px solid cyan; */
    margin: 5px;
    padding: 2px;
  }
  .NewItemForm button {
    background-color: yellow;
    border: none;
    border-radius: 5px;
    margin: 5px;
  }
  .NewItemForm button:hover {
    background-color: #997500;
    color: yellow;
    cursor: pointer;
  }
  .Select {
    /* border: 1px solid green; */
    margin: 5px;
  }