.Login-form {
  border: 1px solid cyan;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

  .Login-form form {
    border: 1px solid black;
  }
  .Login-form input {
    margin: 3px;
    border-radius: 5px;
  }
  .Login-form button {
    margin: 3px;
    background-color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .Login-form button:hover {
    background-color: #997500;
  }

.label {
  display: inline-block;
}